* {
  box-sizing: border-box;
}

body {
  /* display: flex;
  flex-direction: column; */
  background-color: #242333;
  color: #ffffff;
  height: 100vh;
  font-family: "Lato", "sans-serif";
}

.topRow{

  width: 100%;
  display: flex;
  padding-top: 10px;
}

.leftColumn{
display:table-row;
float: left;
position: relative;
border-style: dashed;
border-color: blue;
}

.inspiration{
  border-style: solid;
  border-color: black;
  background: whitesmoke;
  color: black;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  padding-top: 10px;
}

.inspirationBox{
  border-style: solid;
  border-color: black;
  color: black;
  background: whitesmoke;
  width: 40px;
  height:40px;
  float: left;
  text-align: center;
  padding-top: 2px;
  font-size: 50px;
}
.proficiencyBonusScore{
  border-style: solid;
  border-color: black;
  color: black;
  background: whitesmoke;
  width: 40px;
  height:40px;
  float: left;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  font-size: 25px;
}

.passivePerceptionScore{
  border-style: solid;
  border-color: black;
  color: black;
  background: whitesmoke;
  width: 40px;
  height:40px;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  font-size: 25px;
}


.wrapper{
  padding: 10px 0px 10px 0px;
  display:block;
}

.spacer15{
  height: 15px;
}

.bottomLeft{
  border-style:dashed;
  border-color: blue;
  display:flex;

}

.pageMain{
  border-style:double;
  border-color: white;
  display:flex;
  justify-content:space-evenly;
}

.leftside{
  display:flex;
  flex-direction:column;
  border-style: dashed;
  border-color: red;
  width:100%;
}

.middle{
  /* border-style:dashed;
  border-color: green; */
  background-color: grey;
  border-radius: 10px;
  width:100%;
}

.rightSide{
  border-style:dashed;
  border-color: white;
width:100%;
}

.proficiencyBonus{
  border-style: solid;
  border-color: black;
  background: whitesmoke;
  color: black;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  padding-top: 10px;
}

.passivePerception{
  border-style: solid;
  border-color: black;
  background: whitesmoke;
  color: black;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  padding-top: 10px;
  align-content: stretch;
}

.skills{
  text-align: center;
  border-color: black;
  border-style: solid;
  background: whitesmoke;
  border-radius: 10px;
  color: black;
  padding-right: 15px;
}
.skillList{
  text-align: left;
  list-style-type:circle;
}
.skillsColumn{
  float: left;
  border-color: purple;
  width:69%;
  border-style: solid;
  padding: 5px 5px 5px 5px;
}

.row {
  border-color: black;
  border-style: solid;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  background-color: grey;
}

.abilityScores {
  padding: 5px 5px 5px 5px;
  float: left;

}

.characterName{
  height: 100px;
  width:40%;
  background-color: whitesmoke;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: black;
}

.name{
  font-size: 30px;
  height: 100%;
  text-align: center;
  padding-top: 30px;
}

.basicInfo{

  padding:5px 5px 5px 5px;
  width:60%;
}

.basicInfoTop{

  display: flex;
}
.basicInfoBottom{

  display: flex;
}

.infoBox{
  background-color: whitesmoke;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  color: black;
  padding: 10px;
  width:35%;
}

.abilityScore {
  background-color: whitesmoke;
  border-style: solid;
  border-color:black;
  height: 100px;
  width: 95px;
  margin: 15px;
  font-size: 15px;
  text-align: center;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.abilityScoreBig{
  font-size: 35px;
  padding-top: 10px;
}

.abilityScoreMod{
  border-style:solid;
  border-color: black;
  border-radius: 40px;
  font-weight: bolder;
  width: 50px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding-top: 5px;
  background-color: inherit;
}

.ACIS{
  display: flex;
  text-align: center;
  border-style: solid;
  border-color: pink;
  justify-content: space-evenly;

}
.acisBox{
  height: 25%;
  width: 95px;
  margin: 15px;
  border-style: solid;
  border-color: black;
  background-color: whitesmoke;
  color: black;
  line-height: 100px;
  border-radius: 10px;
  font-size: 35px;
}

.currentHitPoints{
  border-style: solid;
  border-color: black;
  color: black;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 15px;
  height: 25%;
  background: whitesmoke;
  border-radius: 20px;
}

.tempHitPoints{
  border-style: solid;
  border-color: black;
  color: black;
  height: 25%;
  font-size: 15px;
  height: 25%;
  background: whitesmoke;
  border-radius: 20px;
}

.hitDiceAndDeathSaves{
  border-style: solid;
  border-color: orange;
  height: 25%;
}
