* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Lato", "sans-serif";
}

.topRow {
  display: flex;
  padding-top: 10px;
  padding-left: 400px;
  padding-right: 400px;
}

.inspiration {
  border-color: black;
  border-style: double;
  border-width: 5px;
  background: whitesmoke;
  color: black;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  padding-top: 8px;
  font-size: small;
}

.inspirationBox {
  border-style: solid;
  border-color: black;
  color: black;
  background: whitesmoke;
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  font-size: 40px;
}

.proficiencyBonusScore {
  border-style: solid;
  border-color: black;
  color: black;
  background: whitesmoke;
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 10px;
  text-align: center;
  padding-top: 6px;
  font-size: 20px;
}

.wrapper {
  padding: 10px 0px 10px 0px;
  display: block;
}

.spacer5 {
  height: 5px;
}

.spacer15 {
  height: 15px;
}

.pageMain {
  display: flex;
  justify-content: space-evenly;
  padding-left: 500px;
  padding-right: 500px;
}

.leftside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 950px;
}

.leftsideTop {
  display: flex;
  float: left;
}

.leftsideBottom {
  display: flex;
  flex-direction: column;
}

.middle {
  border-radius: 10px;
  width: 370px;
  height: 950px;
  background-color: rgba(160, 158, 158, 0.5);
  border-color: white;
  border-style: double;
  border-width: 5px;
  padding: 0px 10px 0px 10px;
}

.SUCCESSES {
  font-size: smaller;
  padding-left: 3px;
  padding-top: 10px;
}
.FAILURES {
  font-size: smaller;
  padding-left: 14px;
}

.rightSide {
  height: 950px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.rightSideTop {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 300px;
  background-color: rgba(160, 158, 158, 0.5);
  border-color: white;
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}

.rightSideBottom {
  padding: 5px 5px 5px 5px;
}

.PTIBF {
  border-color: black;
  border-style: double;
  border-width: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.PTIBFDetails {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.AAS {
  border-color: black;
  border-style: double;
  border-width: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.AASDetails {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 40px;
}

.AASLine {
  display: flex;
  justify-content: space-evenly;
}

.weaponBox {
  width: 38%;
  border-radius: 5px;
  background-color: rgba(160, 158, 158, 0.5);
}

.atkBonusBox {
  width: 18%;
  border-radius: 5px;
  background-color: rgba(160, 158, 158, 0.5);
}

.damageTypeBox {
  width: 38%;
  border-radius: 5px;
  background-color: rgba(160, 158, 158, 0.5);
}

.AAStitles {
  display: flex;
  justify-content: space-evenly;
  font-size: xx-small;
}

.proficiencyBonus {
  border-color: black;
  border-style: double;
  border-width: 5px;
  background: whitesmoke;
  color: black;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  padding-top: 8px;
  font-size: small;
}

.passivePerceptionContainer {
  display: flex;
  flex-direction: row;
}

.passivePerception {
  border-color: black;
  border-style: double;
  border-width: 5px;
  background: whitesmoke;
  color: black;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  padding-top: 13px;
}

.passivePerceptionScore {
  border-color: black;
  border-style: solid;
  border-width: 4px;
  color: black;
  background: whitesmoke;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  padding-top: 5px;
  font-size: 25px;
}

.savingThrowProf {
  padding-left: 10px;
}

.savingThrowLine {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  width: 200px;
  font-size: 15px;
}

.savingThrowTitle {
  padding-left: 10px;
}

.savingThrowScore {
  text-align: center;
  border: 0;
  border-bottom: 2px solid black;
  padding: 0px 5px 0px 5px;
  width: 20px;
}

.skills {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-color: black;
  border-style: double;
  border-width: 5px;
  background: whitesmoke;
  border-radius: 10px;
  color: black;
  padding-right: 5px;
  padding-top: 15px;
  justify-content: left;
  /* border-color: violet;
  border-style: solid; */
}

.skillList {
  display: flex;
  flex-direction: column;
  /* padding: 10px 20px 10px 20px; */
}

.skillsColumn {
  padding: 5px 10px 5px 5px;
}

.row {
  border-color: white;
  border-style: double;
  border-width: 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  background-color: rgba(160, 158, 158, 0.5);
}

.abilityScores {
  padding: 5px 5px 5px 5px;
  height: 950px;
}

.characterNameWrapper {
  padding-top: 10px;
  width: 50%;
}

.characterName {
  height: 80%;
  background-color: whitesmoke;
  border-color: black;
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  color: black;
}

.name {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.basicInfoWrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.basicInfo {
  padding: 5px 5px 5px 5px;
  border-color: black;
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  width: 1000px;
  height: 120px;
}

.underline {
  text-decoration: underline;
  width: 100%;
}

.basicInfoTop {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.basicInfoTopSubTitles {
  display: flex;
  justify-content: space-between;
  font-size: x-small;
}

.basicInfoBottom {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.basicInfoBottomSubTitles {
  display: flex;
  justify-content: space-between;
  font-size: x-small;
}

.infoBox {
  color: black;
  padding: 10px;
}

.abilityScore {
  background-color: whitesmoke;
  border-color: black;
  border-style: double;
  border-width: 5px;
  height: 100px;
  width: 95px;
  margin: 15px;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 5px;
  font-weight: bold;
}

.abilityScoreBig {
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.abilityScoreMod {
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 40px;
  font-weight: bolder;
  width: 50px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding-top: 5px;
  background-color: inherit;
}

.ACIS {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.acisBox {
  width: 95px;
  height: 105px;
  margin: 15px;
  border-color: black;
  border-style: double;
  border-width: 6px;
  border-radius: 10px;
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.ACBox {
  width: 95px;
  height: 120px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.acisTitle {
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.acText {
  font-size: 35px;
  position: absolute;
  padding-left: 32px;
  padding-bottom: 35px;
}

.acTitle {
  position: absolute;
  padding-left: 45px;
  padding-top: 40px;
  font-size: 10px;
}

.currentHitPoints {
  border-color: black;
  border-style: double;
  border-width: 5px;
  color: black;
  text-align: left;
  font-size: 15px;
  background: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0px 5px 0px 5px;
}

.tempHitPoints {
  border-color: black;
  border-style: double;
  border-width: 5px;
  color: black;
  font-size: 15px;
  background: whitesmoke;
  border-radius: 10px;
  padding-top: 20px;
}

.hitDiceAndDeathSaves {
  display: flex;
  justify-content: space-between;
}

.hitDice {
  border-color: black;
  border-style: double;
  border-width: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
  width: 49%;
}
.deathSaves {
  border-color: black;
  border-style: double;
  border-width: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
  width: 49%;
}

.boxValue {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.boxValue2 {
  text-align: center;
  font-size: 20px;
  padding: 5px 0px 5px 0px;
}

.boxTitle {
  text-align: center;
  padding-top: 10px;
  font-weight: 900;
  font-size: small;
}

.boxTitle2 {
  text-align: center;
  font-weight: 900;
  font-size: small;
}

.hitPointWrapper {
  display: flex;
}

.hitPointMax {
  display: flex;
  font-size: small;
  color: grey;
  padding: 10px 0px 0px 3px;
  width: 40%;
}

.hitPointMaxValue {
  width: 55%;
  border-bottom: 1px solid grey;
  padding-top: 8px;
  text-align: left;
}

.currentHitPoint {
  text-align: center;
  font-size: 30px;
  padding: 10px 0px 5px 0px;
}

.hitDieWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.hitDie {
  display: flex;
  font-size: small;
  color: grey;
  padding: 10px 0px 0px 3px;
  width: 20%;
}

.hitDiceValue {
  width: 65%;
  border-bottom: 1px solid grey;
  padding: 8px 0px 0px 5px;
  text-align: left;
}
